/* ui/src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* optional: reset/vars nhẹ nhàng */
:root {
  --bg: #f8fafc;
}

html, body, #root {
  height: 100%;
}

body {
  background: var(--bg);
}
